<html>
<body>
<form method="post">
    <input type="text" name="type" placeholder="Enter type"/>
    <input type="text" name="name" placeholder="Enter name"/>
    <input type="text" name="productNumber" placeholder="Enter productNumber "/>
    <input type="text" name="numberOfGoods" placeholder="Enter numberOfGoods"/>
    <input type="text" name="unitPrice" placeholder="Enter unitPrice "/>
    <input type="text" name="totalPrice" placeholder="Enter totalPrice "/>


    <button type="submit">Add</button>

</form>



<form method="post" action="filter">
    <input type="text" name="type" />
    <button type="submit">Filter</button>
</form>

<div> Список з бази даних </div>
{{#messages}}
<div>
    <span>{{id}}</span>
    <span>{{type}}</span>
    <b>{{name}}</b>
    <i>{{productNumber}}</i>

    <i>{{numberOfGoods}}</i>
    <i>{{unitPrice}}</i>
    <i>{{totalPrice}}</i>

</div>
{{/messages}}

</body>
</html>